[submodule "sockets"]
    path = sockets
    url = https://github.com/minds/sockets.git
[submodule "front"]
    path = front
    url = https://github.com/Minds/front
[submodule "engine"]
    path = engine
    url = https://github.com/Minds/engine
