[remote "minds"]
    url = git@gitlab.com:minds/minds.git
    fetch = +refs/heads/*:refs/remotes/minds/*
[remote "origin"]
	url = git@github.com:huangyingw/minds.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = minds
    branch = master
[merge]
    allow = true
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[branch "master"]
    remote = minds
    merge = refs/heads/master
[vrun]
    silent = false
    async = false
[deploy]
    host = localhost
    path = ~/myproject/git/ossn/Minds/minds
[gdif]
    ignore = ./etc/sysctl.conf 
    ignore = ./var/log/containner.log
    ignore = .gitignore
    ignore = composer-setup.php
    ignore = debug.sh
    ignore = dev.gdio.diff
    ignore = engine
    ignore = error
    ignore = fdocs.list 
    ignore = files.rev
    ignore = front
    ignore = init.sh
    ignore = install-minds.sh
    ignore = install.sh
    ignore = logs.sh
    ignore = readme
    ignore = run.sh
    ignore = run_front.sh
    ignore = sockets
    ignore = start.sh
